var routesTemplate = `package routes

import (
    "github.com/go-chi/chi/v5"
    "{{PROJECT}}/internal/controllers"
    "{{PROJECT}}/internal/middlewares"
)

func SetupRouter() *chi.Mux {
    r := chi.NewRouter()
    r.Use(middlewares.Logger)

    r.Get("/", controllers.HomeIndex)
    r.Get("/about", controllers.AboutIndex)

    if opts.UseAPI || opts.UseCRUD {
        // API routes
        r.Route("/api", func(r chi.Router) {
            r.Get("/posts", controllers.PostsIndex)
            r.Get("/posts/{id}", controllers.PostShow)
            r.Post("/posts", controllers.PostCreate)
        })
    }


    return r
}`
